#navbar-div-container nav{
    display: flex;
    justify-content: flex-end;
    padding: 10px 55px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 0%;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}


.clothes-together-logo {
    width: 15%;
    margin-top: 0%;
}

.social-links {
    margin-left: 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.social-icon {
    width: 30px;
    height: auto;
    cursor: pointer;
}


.spread-out-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    padding: 10px 0;
    color: black; 
}

.spread-out-links a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s ease;
}

.spread-out-links a:hover {
    color: #007bff;
}

nav {
    display: flex;
    gap: 0px;
    max-width: 100%;
}

button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
}

button:hover {
    color: #bd8833;
}

button:active {
    color: #bd8833; 
}
