.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    width: 100%;
}
.clothes-together-logo {
    width: 22%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20%;
}

.social-links {
    margin-left: 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.social-icon {
    width: 30px;
    height: auto;
    cursor: pointer;
}

.navbar {
    margin-left: auto;
}
