html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    margin-left: auto;
}

.Nile-blue-section {
    background-color: rgba(69, 181, 170, 0.5);
    padding: 15px 0;
    color: black;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    text-align: center;
    font-size: 27px;
    color: rgb(255, 125, 64);
    margin: 15px auto;
}

.section-image {
    width: 90%;
    height: auto;
    margin: 0px auto;
}

.text-block {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}


.text-block p {
    font-size: 18px;
    line-height: 1.6;
}

.link-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 950px;
    margin: 0 auto;
    padding: 10px ;
}

.link-item {
    text-align: center;
    width: 30%;
}

.mustard-link-image, .green-link-image, .orange-link-image {
    width: 100%;
    height: auto;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 5px;
}

.link-description {
    font-size: 14px;
    margin-top: 1px;

}

.Nile-blue-section-two {
    background-color: rgba(69, 181, 170, 0.5);
    padding: 10px 0;
    color: black;
    position: relative;
    width: 100%;
    height: 10%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.misc-links {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    font-size: 14px;
}