.Brands-blue-section {
    background-color: rgba(69, 181, 170, 0.5);;
    padding: 15px 0;
    color: black;
    position: relative;
    width: 100%;
    height: 50%;
    z-index: -1;
    display: flex;
}

.brand-heading {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 30px;
    color:  rgb(255, 125, 64);
}

.partners p {
    text-align: center;
    margin-bottom: 10px;
}

.partners h4 {
    padding-left: 30px;
}


.first-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 2rem;
    margin-bottom: 40px;
    justify-items: center;
    margin-left: 30px;

}


.second-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 2rem;
    justify-items: center;
    padding: 20px 20px;
}

.brand-logos img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.brand-logos img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    display: block;
}

.gooseberry-fool-logo {
    grid-column: 1 / 2;
}

.ILO-logo {
    grid-column: 2 / 3;
}

.kite-logo {
    grid-column: 3 / 4;
}

.little-green-radicals-logo {
    grid-column: 4 / 5;
}

.toby-tiger-logo {
    grid-column: 2 / 3;
}

.piccalilly-logo {
    grid-column: 3 / 4;
}

.pigeon-logo {
    grid-column: 4 / 5;
}
